table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

body {
    font-family: 'Segoe UI',Verdana;
    font-size: 10pt;
}

h1 {
    font-size: 14pt;
}


.left { text-align:left;}

.right { text-align:right;}

.blocked 
{
    background:#808080;
}
th.pad {
    border-left-width:0px;
    border-right-width:0px;
}
td.data {
text-align:right;
}
td.data input[type=text]{
    text-align:right;
}
input[type=text].celleditor {
    border:solid 0px;
    margin:0px;
    padding:0px;

}
[binding-type="template"] { 
    display:none;
}

ul {
    list-style-type:none;
}
ul>li {
   margin-left:20px;
}
#Contents>div
{
    min-width:400px;
    background:#ffffff;
}
#factdetail {
    margin-left:500px;
    position:absolute;
    z-index: 1;
}
#factcontainer {
    position:absolute;
    max-height:600px;
	overflow : auto;

}
#factlist {
    margin-left:0px;
    z-index: 1;
    max-width:400px;
}
.highlight
{
	background: #00e600;
}
#Facts
{

}
a {
    margin-right:5px;
}

h2 
{
    margin:0px;
    font-size:14pt;
}
li 
{
    clear:both;
}
.selected {
    background: #9cd3fa;
}
    .selected .editing {
        background:#ffffff;
    }
.placeholder 
{
    border-top-width:0px;
}
.haschild {
    border-bottom-width:0px;

}

.pagination {
            font-size: 80%;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
.hmax30 {
    max-height: 20px;
    overflow: hidden;
    cursor: pointer;
    margin: 5px;
}


a, a:visited {
    color:blue;
}
a.cellcount_0 
{
    color:red;
}

.dynamicdata {
    min-height:20pt;
}
.w_large {
    width:300px;
}