<div class="listfilter">
    <table class="filter noborder">
        <tr>
            <td>
                <label>Concept & Dimensions </label><br /><input type="text" id="F_Concept" />
            </td>
            <td>
                <label>Context: </label><br /><textarea type="text" id="F_Context"></textarea>
            </td>
            <td>
                <label>Value: </label><br /><input type="text" id="F_Value" />

            </td>
        </tr>
        <tr>
            <td>
                <label>Label: </label><br /><input type="text" id="F_Label" />
            </td>
            <td>

            </td>
            <td>
                <input type="button" value="Clear" onclick="app.instancecontainer.ClearFilterFacts()" />
                <input type="button" value="Search" onclick="app.instancecontainer.FilterFacts()" />

            </td>
        </tr>

    </table>
</div>
<div>
    <div class="listpager pagination">
    </div>
    <ul class="list">
        <li binding-type="template">
            <a href="javascript:void(0)" class="bind[cellcount_{Cells.length}]" onclick="bind[app.instancecontainer.ShowDetails('{FactKey}', '{FactString}')]">
                <span>bind[<strong>{Concept.FullName}-{ContextID}:</strong> {Value}]></span>
            </a>

        </li>
    </ul>

</div>
<div class="detail">

    <table class="noborder">
        <tr>
            <td colspan="2">
                <strong>FactString:</strong> <span title="bind[FactKey: {FactKey}]">bind[FactString]</span>
                <br />
                <ul id="celllist" binding-items="Cells">
                    <li binding-type="template">
                        <a href="javascript:void(0)" onclick="bind[app.taxonomycontainer.NavigateTo('{this}')]">
                            <span>bind[{this}]</span>
                        </a>

                    </li>
                </ul>
                </p>
            </td>
        </tr>
        <tr>

            <td>
                <p>
                    <strong>Context & Unit:</strong>  <span>bind[Context ID: {ContextID}; Unit ID: {UnitID}]</span>
                </p>
                <p>
                    <strong>Value:</strong>  <span>bind[Value]</span>
                </p>
                <p>
                    <strong>Concept:</strong>  <span>bind[Concept.FullName]</span>
                </p>
            </td>
            <td>
                <strong>Dimensions:</strong>
                <table binding-items="Dimensions">
                    <tr binding-type="template">
                        <td>
                            bind[{DomainMemberFullName}]
                        </td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>





</div>