<p>
    Instance path: <label>bind[FullPath]</label>
</p>
<p>
    <input type="text" id="I_SchemaRef" value="bind[TaxonomyModuleReference]" class="w_large" />
</p>
<p>
    <input type="date" id="I_ReportingDate" value="bind[ReportingDate]" />
</p>
<p>
    <input type="text" id="I_MonetaryUnit" value="bind[ReportingMonetaryUnit.Name]" />
</p>
<p>
    <input type="text" id="I_EntityID" value="bind[Entity.ID]" />
</p>
<p>
    <input type="text" id="I_EntityScheme" value="bind[Entity.Scheme]" />
</p>