<div id="EngineSettings" class="center-window hidden">
    <form>
        <ul>
            <li>
                <input type="checkbox" name="ValidateOnInstanceLoaded" />
                <label>ValidateOnInstanceLoaded</label>
            </li>
            <li>
                <input type="checkbox" name="ReloadTaxonomyOnInstanceLoaded" />
                <label>ReloadTaxonomyOnInstanceLoaded</label>
            </li>
            <li>
                <input type="checkbox" name="ReloadFullTaxonomyButStructure" />
                <label>ReloadFullTaxonomyButStructure</label>
            </li>
            <li>
                <input type="checkbox" name="ReloadFullTaxonomy" />
                <label>ReloadFullTaxonomy</label>
            </li>
            <li>
                <input type="checkbox" name="ReDownloadFiles"/>
                <label>ReDownloadFiles</label>
            </li>
            <li>
                <input type="checkbox" name="CheckValidationCells" />
                <label>CheckValidationCells</label>
            </li>
        </ul>
        <input type="button" value="Save" onclick="app.Settings_Save()" />
        <input type="button" value="Cancel" onclick="app.Settings_Cancel()" />
    </form>
</div>