<div class="listfilter">
    <table class="filter noborder">
        <tr>
            <td>
                <label>Concept & Dimensions </label><br /><input type="text" id="F_FactString" />
            </td>

            <td>
                <label>Value: </label><br /><input type="text" id="F_Value" />

            </td>
        </tr>
        <tr>
            <td>
                <label>Context: </label><br /><textarea rows="4" type="text" id="F_Context"></textarea>
            </td>
            <td>
                <input type="button" value="Clear" onclick="app.instancecontainer.ClearFilterFacts()" />
                <input type="button" value="Search" onclick="app.instancecontainer.FilterFacts()" />

            </td>
        </tr>

    </table>
</div>
<div>
    <div class="listpager pagination">
    </div>
    <ul class="list" binding-items="this">
        <li binding-type="template">
            <a href="javascript:void(0)" class="$bind:cellcount_{Cells.length}$" onclick="$bind: Select(this); app.instancecontainer.ShowFactDetails('{FactKey}', '{FactString}');$">
                <span>$bind:<strong>{Concept.FullName}-{ContextID}:</strong> {Value}$</span>
            </a>

        </li>
    </ul>

</div>
<div class="detail">

    <table class="noborder">
        <tr>
            <td colspan="2">
                <strong>FactString:</strong> <span title="$bind:FactKey: {FactKey}]">$bind:FactString]</span>
                <br />
        
  
            </td>
        </tr>
        <tr>
            <td>
                <strong>Value:  <span>$bind:Value$</span></strong>
            </td>
            <td>
                <ul id="celllist" binding-items="Cells">
                    <li binding-type="template">
                        <a href="javascript:void(0)" onclick="$bind: app.taxonomycontainer.NavigateTo('{this}'); $">
                            <span>$bind:this}$</span>
                        </a>

                    </li>
                </ul>
            </td>
        </tr>
        <tr>

            <td>
                <p>
                    <strong>Context & Unit:</strong>  <span>$bind:Context ID: {ContextID}; Unit ID: {UnitID}$</span>
                </p>
         
            </td>
            <td>
                <strong>Dimensions:</strong>
                <table binding-items="Dimensions">
                    <tr binding-type="template">
                        <td>
                            $bind:{DomainMemberFullName}$
                        </td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>





</div>