<div id="TaxonomyInfo" binding-type="template">
    <h1 title="$bind:TaxonomyName$">
        $bind:TaxonomyID$
    </h1>
    <h2 title="$bind:Name$">
        $bind:ID$

    </h2>
</div>

<div id="tabletreeview" onclick="app.taxonomycontainer.LoadTableInfo(this)">
    <ul class="treeview" binding-items="Children" binding-mode="recursive">
        <li binding-type="template" class="$bind:Item.Type$" uid="$bind:{uid}$">
            <a href=" javascript:void(0)" title="$bind:Item.Description$" onclick="$bind: app.taxonomycontainer.TableInfoSelected('{Item.ID}', '{Item.Type}', this); $">
            $bind:Item.Name$
            </a>
            &nbsp;
            <span>$bind:Item.ExtensionText$</span>
            @X@
        </li>
    </ul>
</div>




