<div id="hierarchytreeview" onclick="app.taxonomycontainer.LoadHierarchyToUI('#hierarchytreeview', app.taxonomycontainer.Taxonomy.Hierarchies)">
    <ul class="treeview" binding-items="Children" binding-mode="recursive">
        <li binding-type="template" uid="$bind:{uid}$">
            <a href="javascript:void(0)" onclick="">
                $bind:Item.Label.LocalID$
            </a>
            &nbsp;
            <span>$bind:{Item.Label.Content} | C:{Item.Label.Code} D:{Item.Label.FileName} R:{Item.Role}$</span>
            @X@
        </li>
    </ul>
</div>