<div class="listfilter filter">
    <table class="noborder">
        <tr>
            <td>
                <label>Concept & Dimensions </label><br /><textarea id="F_FactString" cols="50" rows="3"></textarea>
            </td>
            <td>
                <label>Cell: </label><br /><input type="text" class="" id="F_CellID" />

            </td>
        </tr>
        <tr>

            <td></td>
            <td>
                <input type="button" value="Clear" onclick="app.taxonomycontainer.ClearFilterFacts()" />
                <input type="button" value="Search" onclick="app.taxonomycontainer.FilterFacts()" />

            </td>
        </tr>

    </table>
</div>
<div>
    <div class="listpager pagination">
    </div>
    <table class="list" binding-items="this">
        <tr binding-type="template">
            <td>
                <a href="javascript:void(0)" onclick="$bind:app.taxonomycontainer.ShowFactDetails('{Key}', '{Key}'); Select(this);$">
                    <span>$bind:Key$</span>
                </a>
            </td>
            <td>
                <ul binding-items="Value">
                    <li binding-type="template">
                        <a href="javascript:void(0)" onclick="$bind:app.taxonomycontainer.NavigateTo('{this}'); Select(this);$">
                            $bind:this$
                        </a>
                    </li>
                </ul>
            </td>


        </tr>
    </table>

</div>
<div class="detail bordered hidden" binding-type="template">
    <!--<a href="javascript:void(0)" onclick="Toggle(this, 'position', ['static','absolute']);">&nbsp;Minimize/Maximize</a>-->
    <a href="javascript:void(0)" onclick="Toggle(this, 'attr:class', ['detail bordered', 'detail bordered absolutetabcontent']);">&nbsp;Minimize/Maximize</a>

    <table class="noborder">
        <tr>
            <td colspan="2">
                <strong>FactString:</strong> <span title="$bind:FactKey: {FactKey}$">$bind:FactString$</span>
                <br />
                <ul id="celllist" binding-items="Cells">
                    <li binding-type="template">
                        <a href="javascript:void(0)" onclick="$bind: app.taxonomycontainer.NavigateTo('{this}'); $">
                            <span>$bind:this$</span>
                        </a>

                    </li>
                </ul>
                </p>
            </td>
        </tr>
        <tr>

            <td>
                <p>
                    <strong>Context & Unit:</strong>  <span>$bind:Context ID: {ContextID}; Unit ID: {UnitID}$</span>
                </p>
                <p>
                    <strong>Value:</strong>  <span>$bind:Value$</span>
                </p>
                <p>
                    <strong>Concept:</strong>  <span>$bind:Concept.FullName$</span>
                </p>
            </td>
            <td>
                <strong>Dimensions:</strong>
                <table binding-items="Dimensions">
                    <tr binding-type="template">
                        <td>
                            $bind:DomainMemberFullName$
                        </td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>





</div>