
<div class="listfilter filter">
    <table class=" noborder">
        <tr>
            <td>
                <label>Validation ID: </label><br /><input type="text" id="F_RuleID" />
            </td>
            <td>
                <label>Message: </label><br /><input type="text" id="F_RuleText" />
            </td>

        </tr>
        <tr>
            <td></td>

            <td>
                <input type="button" value="Clear" onclick="app.taxonomycontainer.ClearFilterValidations()" />
                <input type="button" value="Search" onclick="app.taxonomycontainer.FilterValidations()" />

            </td>
        </tr>

    </table>
</div>
<div>
    <div class="listpager pagination">
    </div>
    <ul class="list" binding-items="this">
        <li binding-type="template">

            <a href="javascript:void(0)" onclick="$bind:app.taxonomycontainer.ShowRuleDetail('{ID}'); Select(this);$">
                $bind:{ID}$
            </a>
            &nbsp;<strong>$bind:Title$</strong>
            <div class="$bind:validationrule_results_{ID}$">

            </div>

        </li>

    </ul>
</div>

<div class="detail bordered hidden">
    <a href="javascript:void(0)" onclick="Toggle(this, 'attr:class', ['detail bordered', 'detail bordered absolutetabcontent']);">&nbsp;Minimize/Maximize</a>
    <div class="mh500">
        <div class="parent" binding-type="template">
            <span class="rule" rule-id="$bind:ID$"></span>
            <p>
                <strong>$bind:ID$</strong><br />

                <span>$bind:DisplayText$</span>
            </p>
            <p>
                Formula: <span>$bind:OriginalExpression$</span>
            </p>
        </div>
        <br />
        <div class="sublist" binding-items="this">
            <div binding-type="template">
                <table binding-items="Parameters" class="sublist">
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Cells</th>
                    </tr>
                    <tr binding-type="template">
                        <td>$bind:Name$</td>
                        <td class="right">$bind:Value$</td>
                        <td binding-items="CellsOfFacts">
                            <ul binding-items="this" binding-type="template">
                                <li>
                                    <a binding-type="template" href="javascript:void(0)" onclick="$bind: app.taxonomycontainer.NavigateTo('{this}');$">
                                        $bind:this$
                                    </a>
                                </li>
                            </ul>

                        </td>

                    </tr>
                </table>
            </div>
        </div>
        <br />
        <div class="sublistpager pagination">

        </div>
        <br />
    </div>
</div>