<div>
    <div id="TaxonomyGeneral">

        <p>
            Module Reference: <h2 type="text" id="I_SchemaRef">$bind:SchemaRef$</h2>
        </p>
        <p>
            Local Path: <h2 type="text" id="I_SchemaRef">$bind:LocalPath$</h2>
        </p>
        <p>
            Module Name: <h2 type="text" id="I_SchemaRef">$bind:Name$</h2>
        </p>
        <p>
            Taxonomy Name: <h2 type="text" id="I_SchemaRef">$bind:TaxonomyName$</h2>
        </p>
        <p>
            From Date: <h2 type="text" id="I_SchemaRef">$bind:FromDate$</h2>
        </p>
        <p>
            To Date: <h2 type="text" id="I_SchemaRef">$bind:ToDate$</h2>
        </p>

    </div>
</div>